* {
    margin:0;
    padding:0;
}
body{
   margin: 0px;
}
/* Header */
#body-header{
    height: 65vh;
    background-image: url(image/header_image.jpg);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}
/* Navigation */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
   
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.5s, border-bottom 2s; 
}
.horizontal-list li a:hover{
    color: rgba(230,196,196,0.3);
    border-bottom: 1px solid white;
}
.text-center{
    text-align: center;
}
/* ------Name and social icon*/
#name-social-container {
    margin-top: 20vh;
}
#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.social-icons li{
    border-radius: 50%;
    
}
.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a i:hover {
        box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);    
}
.social-icons li a i {
    width: 1rem;
    padding: 8px;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
section:nth-child(2n) { 
    background-color: gray;
    
}
section:nth-child(2n +1) { 
    background-color: white;
    
}
/* About Section */


#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px lightgrey;
    border: 3px solid white
}
#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
