* {
    margin-top: 0;
}

body {
    margin: 0px;
}


/* Header */

#body-header {
    height: 65vh;
    background-image: url(image/header_image.webp);
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* Navigation */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizontal-list li a {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.5s, border-bottom 2s;
}

.horizontal-list li a:hover {
    color: rgba(230, 196, 196, 0.3);
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}


/* ------Name and social icon*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li {
    border-radius: 50%;
}

.social-icons li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.social-icons li a i {
    width: 1rem;
    padding: 8px;
}


/*Section Classes*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}


/* About Section */

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px lightgrey;
    border: 3px solid white
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}


/* Skill Section  */

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

.skills-display {
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-progress {
    width: 11rem;
    height: 2.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}

.mb75px {
    margin-bottom: 75px;
}

.mb-blue {
    background-color: #2857a4;
}

.skill-progress>div {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

.skill-name {
    font-size: 17px;
    color: white;
    padding: 8px 0px 10px 20px;
    font-family: Azeret Mono monospace;
}

.skill-name span {
    margin: 0px;
}


/* Timeline */

#timeline {
    position: relative;
    width: 75%;
}

.timeline-box {
    padding: 5px;
    width: 40%;
    min-height: 150px;
    position: relative;
    left: 5%;
    text-align: right;
}


/* Timeline-divider */

.timeline-box::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -12.5%;
    border-radius: 50px;
    width: 0.5rem;
    height: 0.5rem;
    background-color: darkblue;
    z-index: 1;
}

.timeline-box:nth-child(2n) {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    right: -14.5%;
}

.timeline-box:nth-child(2n)::after {
    left: -7.5%;
}

.timeline-container {
    padding: 8px;
}

.timeline-logo {
    position: absolute;
    width: 50px;
    overflow: hidden;
}

.timeline-logo>img {
    width: 100%;
}

.timeline-divider {
    position: absolute;
    width: 0px;
    height: 75%;
    border: 3px dashed#0096fa6b;
    top: 10%;
    left: 50%;
}


/* Media Querry */

@media only screen and (max-width: 572px) {
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }
    .bars {
        display: block;
    }
    .nav-menu {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .timeline-box {
        width: 90%;
        left: 10% !important;
    }
    .timeline-box::after {
        left: -9.3% !important;
    }
    .timeline-divider {
        top: 10%;
        left: 2%;
    }
    #contact-form {
        margin-left: 0%;
    }
    #contact-container {
        flex-wrap: wrap;
    }
    #my-details-container {
        width: 80%;
        margin: 10%;
    }
    #contact-form-container {
        width: 80%;
        margin: 10%;
    }
}

.timeline-traveller {
    position: sticky;
    top: 30%;
    z-index: 2;
}

.timeline-divider i {
    transform: rotate(90deg);
    margin-top: -35px;
    display: block;
    color: #2857a4;
}

.experience-designation {
    font-size: 1.4rem;
}

.experience-company-name {
    margin: 5px 0 0;
    color: #eb822d;
    font-weight: 400;
    font-size: 1.2rem;
}

.experience-duration {
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}

.experience-description {
    font-size: 14px;
    padding: 2px;
    color: grey;
    line-height: 20px;
}

.text-align-justify {
    text-align: justify;
}


/* Portfolio Section */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}


/* Contact Form */

#contact {
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}

.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}

#contact-form button[type="submit"] {
    background: transparent;
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {
    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Common Margin Classes */

.mb75px {
    margin-bottom: 75px;
}

.mb50px {
    margin-bottom: 50px;
}


/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}


/* setting background-color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}


/*Percentage Classes */

.eighty-five-percent {
    height: inherit;
    width: 85%;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 90%;
}